.Advantages {
    background-image: url('https://images.unsplash.com/photo-1689961644934-aca23eef8747?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1229&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
        &_wrapper {
            height: 100vh;
            width: 100wv;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: #513156, $alpha: 0.5)
        }
        &_content {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            &__item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 30vw;
                height: 15vh;
                text-align: center;
                @media (max-width: 800px) {
                    width: 90vw;
                    height: 20vh;
                }
                
            }
            p {
                color: azure;
                font-size: x-large;
            }
        }
}