@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #8294C4;
  --background-start-rgb: #ACB1D6;
  --background-end-rgb: #DBDFEA;
  --bgcolor: #FFEAD2;
  --endcolor: #8294C4;
  



}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #9681EB;
  --background-start-rgb: #45CFDD;
  --background-end-rgb: #A7EDE7;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
