

.Header {
    position: fixed;
    top:0;
    z-index: 4;
    width: 100%;
    background-color: rgba($color: #61567b, $alpha: 0.6);
    
    color: white;
    padding: 1rem 1rem;
        &_links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
    }
}