.Footer {
    width: 100%;
    height: 50vh;
    display: flex;
        align-items: flex-end;
        justify-content: center;
    background-color: darkslateblue;
    color: azure;
    &_conf {
        
        width: 65%;
    }
}